.technology {
    --height: 3.5rem;
    --border-width: 0.2rem;
    --border-color: currentColor;
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    height: var(--height);
    padding-left: 3rem;
    padding-right: 1.2rem;
    border-radius: calc(var(--height) / 2);
    /* border: var(--border-width) solid var(--border-color); */

    &:before {
        --size: 1rem;
        content: '';
        position: absolute;
        width: 1rem;
        height: 1rem;
        left: calc(var(--height) / 2 - var(--size) / 2 - var(--border-width));
        border-radius: 50%;
        background: var(--border-color);
    }

    .text {
        font-size: 1.4rem;
        font-weight: 600;
        color: var(--fg-1);
        transform: translateY(0.1rem);
        white-space: nowrap !important;
        word-break: break-word !important;
    }
}