.tag {
    font-family: 'Roboto Mono', monospace;
    font-size: 0.75825em;

    &:before,
    &:after {
        color: var(--main-color);
    }

    &:before {
        content: '<';
    }

    &:after {
        content: '/>';
    }
}